$primaryColor: #32F3FA;
$secondaryColor: #3B3B3B;

.gemContainer {
  position: absolute;
  height: 200px;
  width: 100px;
  z-index: 2;
  display: grid;
  align-items: center;
  justify-items: center;
  transition-duration: 550ms;
  transition-timing-function: ease-out;
}

.gemWrapper {
  filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.52));
  grid-row: 1;
  grid-column: 1;
  position: absolute;
}

.colorGem {
  background-color: $primaryColor !important;
}

.mainGem {
  background-color: $secondaryColor;
  height: 120px;
  width: 70px;
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  transition-duration: 50ms;
}

.secondaryGem {
  height: 60px;
  width: 35px;
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  background-color: $secondaryColor;
  position: relative;
  transition-duration: 150ms;
}

.tertiaryGem {
  height: 30px;
  width: 17px;
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  background-color: $secondaryColor;
  position: relative;
  transition-duration: 250ms;
}

.gem1 {
  left: 5%;
}

.gem2 {
  right: 15%;
}

.gem3 {
  left: 47.5%;
}

.gem4 {
  left: 8.5%;
}

.gem5 {
  right: 8%;
}

@media(max-width: 800px) {
  .gem1 {
    left: 5%;
  }

  .gem2 {
    right: 0%;
  }

  .gem3 {
    display: none;
  }

  .gem4 {
    left: -15%;
  }

  .gem5 {
    right: 0%;
  }
}

.gemInitial {
  top: -20vh !important;
  transition-duration: 1s;
  opacity: 0;
}

.gemMover {
  transition-duration: 1s;
  transition-timing-function: ease-out;
}